
@{
    ViewData["Title"] = "Crash Severity Calculator";
}
<h1> Crash Map of Utah</h1>
<p>interact with the crashes! </p>


<style>
    .embed-container {
        position: relative;
        padding-bottom: 80%;
        height: 0;
        max-width: 100%;
    }

        .embed-container iframe, .embed-container object, .embed-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    small {
        position: absolute;
        z-index: 40;
        bottom: 0;
        margin-bottom: -15px;
    }
</style>
@* This is the map we are talking about *@
<!--<div class="embed-container">
    <small>
        <a href="//byu.maps.arcgis.com/apps/Embed/index.html?webmap=71f68aba9f4c4582a97d54af685ac5b3&extent=-113.9657,37.9271,-107.4948,40.6642&zoom=true&scale=true&disable_scroll=true&theme=dark" style="color:#0000FF;text-align:left" target="_blank">View larger map</a>
    </small>
    <br>
    <iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="map original test" src="//byu.maps.arcgis.com/apps/Embed/index.html?webmap=71f68aba9f4c4582a97d54af685ac5b3&extent=-113.9657,37.9271,-107.4948,40.6642&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=dark"></iframe>
</div>-->


@*<div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="Crash Severity" src="//byu.maps.arcgis.com/apps/Embed/index.html?webmap=2f4c52a399a44f7cbbf684fcf1c52c92&extent=-115.0194,39.8273,-108.5485,42.2547&home=true&zoom=true&previewImage=false&scale=true&legendlayers=true&disable_scroll=true&theme=dark"></iframe></div>*@

<div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="test" src="//byu.maps.arcgis.com/apps/Embed/index.html?webmap=39898a3ae681422cb41a11f7e9a1ffa9&extent=-118.6369,37.1773,-101.8938,42.1303&zoom=true&previewImage=false&scale=true&legendlayers=true&disable_scroll=true&theme=dark"></iframe></div>
