@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Utah Crashes</h1>
    <h2>Your Encyclopedia for Every Traffic Trouble</h2>
    <h3> Y.E.E.T.</h3>
    <p>Learn about Utah's battle to reduce the number of automobile accidents</a>.</p>
</div>
