@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header>
        <h1 class="display-4">Welcome To Utah Crashes</h1>
        <h2>Your Encyclopedia for Every Traffic trouble</h2>
        <h3> (Y.E.E.T.)</h3>
        <img src="~/img/YEET.png" height="300" width="auto"/>
    </header>
    <body class="bgimage">
        <br />
        <p class="text-white">A landing page that explains to the user what the site is and what it does</p>
        <p class="text-white">Learn about Utah's battle to reduce the number of automobile accidents</p>
    </body>
    
</div>
