
@{
    ViewData["Title"] = "Crash Summaries";
}

<p>
    A page that lists out the summary data per accident for all accidents in the database.  (There are a significant number of records, so probably best to break the summary information up by pages.)
</p>