
@{
    ViewData["Title"] = "Crash Summaries";
}

<p>

    A page that lists out the summary data per accident for all accidents in the database.  (There are a significant number of records, so probably best to break the summary information up by pages.)
    The ability to filter the data in the summary page to get to specific results
</p>

<img src="~/img/corr.png" height="500" width="auto" />
@*<table class="table table-bordered table-responsive table-hover">
    <thead class="font-weight-bold">

        <tr>
            <th>Feature</th>
            <th>Correlation to Severity Rating </th>

        </tr>
    </thead>
    <tbody>
            <td>MOTORCYCLE_INVOLVED</td>
            <td>OVERTURN_ROLLOVER</td>
            <td>PEDESTRIAN_INVOLVED</td>
            <td>BICYCLIST_INVOLVED</td>
            <td>UNRESTRAINED</td>
            <td>DUI</td>
            <td>IMPROPER_RESTRAINT</td>
            <td>INTERSECTION_RELATED</td>
            <td>SINGLE_VEHICLE</td>
            <td>ROADWAY_DEPARTURE</td>
    </tbody>

</table>*@  